.wrapper {
  display: flex;
  flex-direction: column;
  margin: 32px;
  align-items: center;
}

.header {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.carousel {
  width: 600px;
  height: 400px;
}

.info {
  flex: 1;
  max-width: 600px;
  font-size: 16px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cta {
  display: flex;
  margin-top: 32px;
  align-items: center;
  justify-content: space-evenly;
  font-size: 24px;
}

.cta a:last-child {
  background: linear-gradient(100deg, #da3a37, #fe5b587c);
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
  padding: 8px 16px;
  animation: pulse-background 4s alternate infinite;
}
.cta a:last-child:hover {
  background: linear-gradient(100deg, #d82b28, #e66563, #da3a37, #ff322fc3);
  background-size: 300% 300%;
  filter: drop-shadow(0 0 8px #e98483);
}

.cta a:first-child:hover {
  background: linear-gradient(100deg, #da3a37, #ffffff);
  animation: pulse-shadow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main section {
  margin-top: 32px;
  font-size: 24px;
  max-width: 1460px;
}

@keyframes pulse-shadow {
  0%,
  100% {
    text-shadow: 0 0 8px #ff9695;
  }
  50% {
    text-shadow: 0 0 32px #da3a37;
  }
}

@keyframes pulse-background {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
